<main fxLayout="row wrap" fxLayoutAlign="center center" class="container">
    <mat-sidenav-container class="page">
        <mat-sidenav #sidenav role="navigation">
            <app-navi-sidebar (close)="sidenav.close()"></app-navi-sidebar>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-navi-header (toggle)="sidenav.toggle()"></app-navi-header>
            <div class="window">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</main>

