.jo-navi-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;

    & > div {
        width: 100%;
    }
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;

    &:hover,
    &:active {
        color: lightgray;
    }
}

.jo-navi-items {
    list-style: none;
    padding: 0;
    margin: 0;

    & > li > a > span {
        font-size: 1.0rem;
    }

    & > li > a.active {
        color: red;
    }
}
